@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h1 {
    font-size: 3.815rem;
    font-weight: 300;
}
h2 {
    font-size: 3.052rem;
    font-weight: 300;
}
h3 {
    font-size: 2.441rem;
}
h4 {
    font-size: 1.953rem;
}
h5 {
    font-size: 1.563rem;
}
h6 {
    font-size: 1.25rem;
    font-weight: 500;
}

p {
}
